services:
  firmy-ai:
    build:
      context: ..
      dockerfile: Dockerfile
    image: firmy-ai
    container_name: firmy-ai
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"

    networks:
      - shared-network   # <-- local network to talk to NGINX
      - default          # <-- gives internet & access to remote machine
    volumes:
      - ../src:/app
      - ../src/assets:/app/assets

networks:
  shared-network:
    external: true
